h1, h2, h3, h4, h5, h6, p, a {
    text-decoration: none;
}

.navbar-logo {  
    
    padding-left: 60px;
    font-size: 2px;
    color: #00285F;
    
    
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.main-menu {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.navbar-link-home {
    padding-right: 48px;
}

.main-menu a.active {
    font-weight: bold;
}

.main-nav {
    min-height: 70px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.navbar-link-catalogo {
    padding-right: 150px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-logo, ul, li {
    display: flex;
    justify-content: flex-end;
}

.main-nav button {
    background-color: #00285F;
    
}

@media (max-width: 576px) {
    .main-nav {
        width: 576px;
    }
}

@media (min-width: 768px) {
    .active {
        padding-left: 400px;
    }

    .navbar-logo{
        display: block;
        font-size: 28px;
    }
}

@media (min-width: 992px) {
    .navbar-link-home {
        margin-left: 200px;
    }
}

@media (min-width: 1200px) {
    .main-nav {
        width: 1280px;
    }
}





