@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0;
}

.base-card {
  background-color: #EDEDED;
  color: #000000;
  width: 306px;
  height: 347px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
}